=javascript_include_tag "csp_report/report_by_ip"

%h1
  Breaches by IP

%table#byip.csp-report.report.by-ip
  %tr.csp-report.report.by-ip.header.row
    %th.csp-report.report.by-ip.header.cell
      Incoming IP
    %th.csp-report.report.by-ip.header.cell
      Number of breaches reported
  -for report in @report_by_ip
    %tr.csp-report.report.by-ip.row
      %td.csp-report.report.by-ip.cell
        =report.incoming_ip
      %td.csp-report.report.by-ip.cell
        =report.count

-@chart[:chart][:renderTo] = "chart"    # Hooking the chart in the right place
%div#chart{:"data-chart" => @chart.to_json}
