.csp-report.report-table
  border-style: solid
  border-color: #0000AA
  border-width: 5px
  border-collapse: collapse

.csp-report.report-cell
  padding: 5px
  border-style: solid
  border-width: 2px

.csp-report.report-header
  padding: 5px
  border-style: solid
  border-width: 3px
